composer.phar

.DS_Store

/vendor/
*composer.lock
.phpunit.result.cache

/*/vendor/
/*/*composer.lock
/*/.phpunit.result.cache

/_dev/cache/*
!/_dev/cache/.gitkeep
dev-notes.txt

/src/Logger/logs/
/src/Logger/logs/*

sitemap.xml

.env

/import
/*/*/import/
/*/*/export/
/*/*/uploads/

tests/unit/*/cache_path/*
!tests/unit/*/cache_path/.gitkeep